<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Home</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a routerLink="/wish-list">
          <span class="fa fa-heart">
            <span class="number">{{wishList.length}}</span>
          </span>
        </a>
      </li>
      <li>
        <a routerLink="/cart">
          <span class="fa fa-shopping-cart">
            <span class="number">{{cartList.length}}</span>
          </span>
          <span class="currency">{{amount}} USD</span>
        </a>
      </li>
    </ul>
  </div>
</nav>