.navbar-brand{
    padding: 20px 15px;
}
.navbar-right {
  span.fa {
    position: relative;
    &.fa-heart{
        font-size: 25px;
    }
    &.fa-shopping-cart{
        font-size: 27px;        
    }
  }
  span.number {
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 10px;
    background-color: #f5a623;
    color: #fff;
    position: absolute;
    top: -5px;
    right: -12px;
  }
  .currency{
      margin-left: 10px;
  }
}