<app-popup #appPopup (onClose)="dismissModal()">
  <div body *ngIf="product">
    <div class="image">
      <img [src]=product.img>
    </div>
    <div>
      <div>{{product.name}}</div>
      <div>
        <span>Quantity</span>
        <div class="input">
          <input [(ngModel)]="quantity" disabled>
          <button class="fa fa-angle-up" (click)="handleIncrease()"></button>
          <button class="fa fa-angle-down" (click)="handleDecrease()"></button>
        </div>
      </div>
      <div>ToTal: {{quantity*product.price}}</div>
    </div>
    <button class="btn btn-success" (click)="handleAdd()">
      <span class="fa fa-shopping-cart"></span> Add To Card
    </button>
  </div>
</app-popup>