.modal-header {
    height: 55px;
    background-color: #7fc31b;
}

.modal-title {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
}

.modal-header button.close {
    font-size: 27px;
    font-style: normal;
    color: #ffffff;
    opacity: unset;
}

.modal-footer {
    border-top: solid 1px #d7d7d8;
    text-align: center;
}

.active {
  background-color: #f2f9e7;
}

.modal-content .modal-body{
    padding-left: 20px;
    padding-right: 20px;
}

.modal-content .modal-header, .modal-content .modal-footer{
    padding-left: 15px;
    padding-right: 15px;
}